/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
FONT / FONT STYLES
font-family: 'Libre Baskerville', serif;
font-style: italic;

font-family: 'Open Sans', sans-serif;
*/

/* COLORS */
:root {
  --dark-green: #152515;
  --green: #355131;
  --pale-green: #e2e8a8;
  --action-green: #4f772d;
  --background-green: #dee1c7;
}

body {
  background-color: #dee1c7;
  background-image: url("../images/homeBG2.png");
  background-repeat: repeat-y;
}

.gridWrapper {
  display: flex;
  justify-content: center !important;
}

//logo

.logo {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 40px !important;
  color: #e2e8a8;
  text-decoration: none !important;
  display: flex;
  padding: 10px;
  // positioning
  position: absolute !important;
  bottom: 46px;
}

.gutenLogo {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 40px !important;
  text-decoration: none !important;
  padding: 5px;
  display: flex;
  // positioning
  position: absolute !important;
  bottom: 46px;
}

.gutenLogo:link,
.gutenLogo:visited {
  color: #e2e8a8;
}

.logoBg {
  display: flex !important;
  justify-content: center !important;
}

.logoBg > a {
  color: var(--pale-green) !important;
}

.credits {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 12px !important;
  letter-spacing: 0.8px !important;
  text-align: center;
  color: #0b110b;
  padding: 10px;
  width: 175px;
  // positioning
  position: absolute !important;
  bottom: 4px;
}

.closeBtn {
  margin-top: 10px !important;
  margin-left: 225px !important;
}

.desktopIcon {
  color: #3551319c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  position: absolute;
  left: 100px;
  top: 100px;
}

// Top Appbar/Toolbar

.topToolbar {
  padding: 15px;
}

//Searchbar
#searchForm {
  box-shadow: rgba(34, 34, 34, 0.2) 0px 8px 24px;
}

#search-bar {
  background-color: #fff;
  width: 200px !important;
}

#search-bar-label {
  font-family: "Open Sans", sans-serif !important;
}

.MuiInputBase-root {
  font-family: "Open Sans", sans-serif !important;
}

.MuiInputBase-root::before {
  border: none !important;
}

#select-param {
  border: none !important;
  background-color: #ffffffaa;
  font-family: "Open Sans", sans-serif !important;
}

.MuiPopover-paper {
  border-radius: 0px !important;
}

.MuiMenuItem-root {
  font-family: "Open Sans", sans-serif !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-left: 2px solid var(--action-green) !important;
}

.search-btn {
  background-color: var(--action-green) !important;
  border: none !important;
  width: 50px;
}

//side navigation
.desktopDr {
  justify-content: space-between;
}

.MuiDrawer-paper {
  background: linear-gradient(#162716, #152515) !important;
}

.MuiDrawer-paperAnchorLeft {
  border-right: 10px solid;
  border-image: linear-gradient(to bottom, #355131, rgba(0, 0, 0, 0)) 1 100%;
}

.MuiListItem-root {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 24px;
  text-align: right !important;
}

.menuList {
  margin-top: 250px !important;
  // margin-left: 24px !important;
  text-align: c !important;
  color: var(--pale-green);
}

.menuMobileList {
  margin-top: 50px !important;
  // margin-left: 24px !important;
  text-align: c !important;
  color: var(--pale-green);
}

.MuiListItemButton-root {
  text-align: right !important;
  font-size: 28px !important;
  margin-bottom: 36px !important;
  padding: 0 0 8px 0 !important;
  border-bottom: 2px solid var(--pale-green) !important;
}

.hamburger {
  color: var(--action-green) !important;
}

// page titles

.pageHeading {
  font-size: 45px !important;
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  margin-left: 56px !important;
  margin-top: 16px !important;
  color: var(--pale-green) !important;
  text-shadow: #15251575 0.1em 0.1em 0.2em;

  //phone
  @media screen and (max-width: 899px) {
    color: var(--dark-green) !important;
    text-shadow: #15251549 0.1em 0.1em 0.2em;
  }
}

.pageSubHeading {
  font-family: "Open Sans", sans-serif !important;
  font-style: italic;
  font-size: 20px !important;
  letter-spacing: 1px !important;
  margin-left: 56px !important;
  color: #0b110b;
}

//card styling

.bookCardContent {
  padding: 30px !important;
}

.bookCardTitle {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 24px !important;
  letter-spacing: 2px !important;
  color: var(--dark-green) !important;
}

.bookCardAuthor {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
  font-size: 14px !important;
  letter-spacing: 1px !important;
}

.bookCardActions {
  display: flex;
  justify-content: space-between;
  padding: 0px !important;
}

.bookCardButton {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500;

  color: var(--action-green) !important;
  letter-spacing: 2px !important;
  font-stretch: 50% !important;
}

//Review form

.reviewFormGroup {
  background-color: #fff;
  flex-grow: 1;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px !important;
}

.reviewForm {
  padding: 24px;
}

.inputLabel {
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.bookTitleSelect {
  font-family: "Open Sans", sans-serif !important;
  border-radius: 0px !important;
}

.menuItem:focus {
  background-color: #50772d75 !important;
}

.reviewInput > div {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px;
  border-radius: 0px !important;
  margin-top: 0px !important;
  height: 150px;
  padding: 16px;
}

.starRating {
  padding: 5px;
}

.submitReviewBtn {
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 2px !important;
  color: var(--background-green) !important;
  background-color: var(--action-green) !important;
  border: none !important;
  border-radius: 0px !important;
  height: 50px;
}

.submitReviewBtn:hover {
  background-color: #355131 !important;
  transition: 600ms ease;
}

.reviewOutput {
  // border: 1px dashed var(--action-green);
  border-radius: 0 !important;
  box-shadow: none !important;
}

.outputReviewTitle {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 18px !important;
  margin-right: 10px !important;
}

.outputReviewDescription {
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 0.2px !important;
  text-align: justify;
  padding: 10px 50px 20px 50px;
}

.brackets {
  margin: 0px 1px !important;
}

.socialLabel {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  margin: 5px 3px !important;
}

.socialIcons {
  margin-right: 1px;
  width: 35px;
  height: 35px;
}

.deleteReview {
  background-color: #4f772d !important;
  color: #ffffff !important;
  margin-right: 5px !important;
  margin-top: 20px !important;
}

.deleteReview:hover {
  background-color: #355131 !important;
  transition: 600ms ease;
}

//CSS effects

.spreadEffectTitle {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
}

.spreadEffectTitle:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.spreadEffectMenu {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  letter-spacing: -2px;
  transition: 1000ms ease;
  font-variation-settings: "wght" 311;
}

.spreadEffectMenu:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 0px;
}

.spreadEffectLogo {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  letter-spacing: -3px;
  transition: 1000ms ease;
  font-variation-settings: "wght" 311;
}

.spreadEffectLogo:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 2px;
}

.credLink:link,
.credLink:visited {
  padding: 0 5px;
  color: #0b110b !important;
  text-decoration: none !important;
  box-shadow: inset 0 0 0 0 var(--background-green);
  transition: all 1000ms ease;
  &:hover {
    box-shadow: inset 300px 0 0 0 var(--background-green);
  }
}
