/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
FONT / FONT STYLES
font-family: 'Libre Baskerville', serif;
font-style: italic;

font-family: 'Open Sans', sans-serif;
*/

/* COLORS
 */
:root {
  --dark-green: #152515;
  --green: #355131;
  --pale-green: #e2e8a8;
  --action-gren: #4f772d;
}

body {
  background-color: #dee1c7;
  background-image: url("../images/homeBG2.png");
  background-repeat: repeat-y;
}

.gridWrapper {
  justify-content: center !important;
}

//logo
.gutenLogo {
  margin: 24px !important;
  font-family: "Libre Baskerville", serif !important;
}

.gutenLogo:visited {
  color: #e2e8a8;
}

.css-fvtpii-MuiTypography-root {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 40px !important;
  text-decoration: none !important;
  display: flex;
  padding: 10px;
}

.logoBg {
  display: flex !important;
  justify-content: center !important;
}

.lohoBg > a {
  color: var(--pale-green) !important;
}

// Top Appbar/Toolbar

.topToolbar {
  padding: 15px;
}

//Searchbar
#searchForm {
  box-shadow: rgba(34, 34, 34, 0.2) 0px 8px 24px;
}

#search-bar {
  background-color: #fff;
}

.css-1ff8729-MuiInputBase-root-MuiFilledInput-root::before {
  border: none !important;
}

#select-param {
  border: none !important;
  background-color: #ffffffaa;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  border-radius: 0px !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-left: 2px solid #4f772d !important;
}

.search-btn {
  background-color: #4f772d !important;
  border: none !important;
  width: 50px;
}

//side navigation
.desktopDr {
  background-color: #152515 !important;
  // border-right: 10px solid #355131;
  justify-content: space-between;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #152515 !important;
}

.MuiListItem-root {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 24px;
  text-align: right !important;
}

.menuList {
  margin-top: 56px !important;
  margin-left: 36px !important;
  text-align: right !important;
  color: var(--pale-green);
}

.menuListButton {
  text-align: right !important;
}

// page titles

.homePageHeading {
  font-size: 45px !important;
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  margin-left: 56px !important;
  margin-top: 16px !important;
  color: var(--pale-green) !important;
}

//card styling

.bookCardContent {
  padding: 30px !important;
}

.bookCardTitle {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 24px !important;
  letter-spacing: 2px !important;
  color: var(--dark-green) !important;
}

.bookCardAuthor {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
  font-size: 14px !important;
  letter-spacing: 1px !important;
}

.bookCardActions {
  display: flex;
  justify-content: space-between;
  padding: 0px !important;
}

.bookCardButton {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500;

  color: var(--action-gren) !important;
  letter-spacing: 2px !important;
  font-stretch: 50% !important;
}

//CSS effects

.spreadEffectTitle {
  font-family: "Libre Baskerville", serif !important;
  font-style: italic;
  font-size: 24px !important;
  // letter-spacing: 2px !important;
  color: var(--dark-green) !important;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
}

.spreadEffectTitle:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}
