/* SCSS HEX */
:root {
  $dark-green: #132a13ff;
  $hunter-green: #31572cff;
  $fern-green: #4f772dff;
  $moss-green: #90a955ff;
  $mindaro: #ecf39eff;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 20px
}